# Normalize every historical author/committer to the project owner.
Rick Albright <rla3rd@gmail.com> <rick@hyperstreamdb.com>
Rick Albright <rla3rd@gmail.com> <ralbright@verityplatform.com>
Rick Albright <rla3rd@gmail.com> <ralbright@google.com>
Rick Albright <rla3rd@gmail.com> <rla3rd@users.noreply.github.com>
Rick Albright <rla3rd@gmail.com> <rla3rd@gmail.com>
